body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 93%, rgba(192, 204, 171, 0.5) 93%, rgba(192, 204, 171, 0.5) 100%), linear-gradient(90deg, rgba(232, 222, 103, 0.4) 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0)), linear-gradient(rgba(232, 222, 103, 0.4) 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(229, 113, 82, 0.2) 90%, rgba(229, 113, 82, 0.2) 100%), linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(255, 239, 195, 0.4) 35%, rgba(255, 239, 195, 0.4) 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(232, 222, 103, 0.4) 55%, rgba(232, 222, 103, 0.4) 70%, rgba(255, 255, 255, 0) 70%), linear-gradient(90deg, rgba(255, 255, 255, 0) 35%, rgba(255, 239, 195, 0.4) 35%, rgba(255, 239, 195, 0.4) 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(232, 222, 103, 0.4) 55%, rgba(232, 222, 103, 0.4) 70%, rgba(255, 255, 255, 0) 70%), linear-gradient(rgba(255, 255, 255, 0) 55%, rgba(255, 239, 195, 0.4) 55%, rgba(255, 239, 195, 0.4) 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 55%, rgba(255, 239, 195, 0.4) 55%, rgba(255, 239, 195, 0.4) 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(192, 204, 171, 0.5) 20%, rgba(192, 204, 171, 0.5) 80%, rgba(255, 255, 255, 0) 80%), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(229, 113, 82, 0.2) 20%, rgba(229, 113, 82, 0.2) 80%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(232, 222, 103, 0.4) 10%, rgba(232, 222, 103, 0.4) 35%, rgba(255, 255, 255, 0) 35%), linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(232, 222, 103, 0.4) 10%, rgba(232, 222, 103, 0.4) 35%, rgba(255, 255, 255, 0) 35%);
  background-size: 14em 14em;
  background-color: #FFEFC3;
  font: 20px/2 'Trebuchet MS', Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
   monospace;
}


form a{
  margin-left: 10px;
}

